<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="container-in">
      <div class="sign-in">
        <%= link_to "Войти", home_signin_path %>
      </div>
      <div class="signup">
        <%= link_to "Зарегистрироваться", home_signup_path %>
      </div>
    </div>
  </div>
</body>
</html>